/**/
:root {
  --background-light: azure;
  --text-light: black;
  --background-dark: rgb(23, 23, 80);
  --text-dark: lightskyblue;
  --border: rgb(128, 128, 128);
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
  height: 100vh;
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
  height: 100vh;
}

header {
  display: flex;
  justify-content: end;
  height: 100px;
  width: auto;
  border-bottom: 5px solid var(--border);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: var(--border);
  border-top: 5px solid var(--border);
}

.themeToggle {
  height: auto;
  width: auto;
  margin: 10px;
}
